*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
    height: 100px; 
    width: 100%;
    z-index: 1000; 
}

.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 150px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
}

.navbar ul li a:hover{
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}
.content{
    width: 100%;
    position: absolute;
    top: 30%;
}

.Homepage {
    padding: 80px 20px 100px; 
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.Homepage h1 {
    font-size: 80px;
    line-height: 70px;
    font-weight: 700;
    color: black;
    margin: 20px 0;
 
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.view-more {
    width: 120px;
    height: 40px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.view-more:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
    border: 1px solid black;
}

.html {
  scroll-behavior: smooth;
}

#product {
  padding-top: 150px; 
}

.section-title h1 {
  margin-left: 40px;
  margin-top: 250px;
}

.section-title p {
  margin-left: 40px;
}

.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.product-card {
  width: 200px; 
  padding: 15px;
  border: 1px solid #dddddd00;
  border-radius: 10px;
  text-align: center;
  background-color: #f9f9f900;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%; 
  height: auto;
  border-radius: 8px;
}

.product-title {
  font-weight: bold;
  margin-top: 10px;
  font-size: 16px;
}

.add-to-cart {
    width: 120px;
    height: 40px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 10px;
    padding: 10px 15px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.add-to-cart:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
    border: 1px solid black; 
}

.about-container h1 {
  margin-left: 40px;
  margin-top: 250px;
  text-align: center;
  font-size: 50px;
}

.about-container p {
    font-size: 18px;
      line-height: 1.6;
      max-width: 600px;
      margin: 40px;
      text-align: justify;
}

.about-image {
  max-width: 300px;
  border-radius: 8px;
}